@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0.5rem;
}

:root {
  --fs-xl: clamp(2rem, 16vw, 5rem);
  --fs-l: clamp(1.75rem, 14vw, 4rem);
  --fs-m: clamp(1.125rem, 8vw, 1.5rem);
  --fs-s: clamp(1rem, 8vw, 2rem);
  --fs-xs: clamp(.8rem, 4vw, 1rem);
}


h1 {
  font-size: var(--fs-xl);
  text-align: center;
  margin: 2rem 0;
}

p {
  line-height: 1.75;
  font-size: var(--fs-m);
}